<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-walking-lock"
        version="1.0.0">
    
    <name>WalkingLock</name>
    <description>Cordova Plugin for detecting walking activity and showing overlay lock</description>
    <license>MIT</license>
    <keywords>cordova,android,activity,recognition,walking,lock</keywords>
    
    <js-module src="www/WalkingLock.js" name="WalkingLock">
        <clobbers target="WalkingLock" />
    </js-module>
    
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="WalkingLock">
                <param name="android-package" value="com.yourcompany.walkinglock.WalkingLockPlugin"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/WalkingLockPlugin.java" target-dir="src/com/yourcompany/walkinglock" />
        <source-file src="src/android/WalkingDetectionService.java" target-dir="src/com/yourcompany/walkinglock" />
        <source-file src="src/android/WalkingOverlayView.java" target-dir="src/com/yourcompany/walkinglock" />
        <source-file src="src/android/ActivityTransitionReceiver.java" target-dir="src/com/yourcompany/walkinglock" />
        
        <!-- DEPENDENCIAS DE GOOGLE PLAY SERVICES -->
        <framework src="com.google.android.gms:play-services-location:17.+" />
        <framework src="com.google.android.gms:play-services-tasks:17.+" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                android:name="com.yourcompany.walkinglock.WalkingDetectionService"
                android:enabled="true"
                android:exported="false" />
            
            <receiver
                android:name="com.yourcompany.walkinglock.ActivityTransitionReceiver"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.android.gms.location.ACTIVITY_TRANSITION" />
                </intent-filter>
            </receiver>
        </config-file>
    </platform>
</plugin>